<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style type="text/css">
      .btn-secondary {
        color: #fff;
        background-color: #10caca;
        border-color: #6c757d;
      }
    </style>
    <title>Gozoop | Integrated Marketing Solutions for the New World</title>
  </head>
<body class="bg-dark text-light">

    <header>
      <div class="collapse" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-dark">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Gozoop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Work <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Careers</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Get in touch</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading text-dark">About Us</h1>
          <h5 class="jumbotron-heading text-dark">Breaking the Box since 2008</h5>
          <p class="lead text-muted">With 300+ marketing experts across India and the Middle East, we are an independent integrated marketing group that makes the most promising brands and startups GO…ZOOP!</p>
          <br><br>
          <h3 class="jumbotron-heading text-dark">Services Provided</h3>
          <p class="lead text-muted text-dark">
            <ul class="lead text-muted text-dark">
            <ul><b>Strategy</b> - Business & Brand Consulting, Product & Consumer Research, Branding & Identity Creation, Campaign Planning</ul>
            <ul><b>Content</b> - Social Media, Public Relations, Influencer Marketing, Blog Marketing</ul>
                <ul><b>Design</b> - UI/UX, Logo & Merchandising, Print/Digital, Illustrations</ul>
                <ul><b>Technology</b> - Brand Websites, Ecommerce Solutions, HubSpot Marketing, Zozolo Loyalty Programs</ul>
                <ul><b>Performance</b> - Media Planning, Media Buying, Performance Marketing, Search Engine Optimisation (SEO)</ul>
                <ul><b>Consumer Experience</b> -  Digital Command Centers, Customer Experience Management, Data & Insights, Online Reputation Management, Amazon Response Management</ul>
                <ul><b>GZ Productions</b> - Brand & Corporate Films, Photography, Live Event Coverage, Customer Testimonials</ul>
            </ul>
          </p>
        </div>
      </section>

        <h1 class="jumbotron-heading text-light" align="center">Login</h1><br>



    </main>
    <form>
<!--      <div class="form-group" style="position:relative; left:80px; top:2px; width: 1250px;">-->
<!--        <label for="first">First Name</label>-->
<!--        <input type="text" class="form-control" id="first" aria-describedby="emailHelp" placeholder="Enter email" size=10>-->
<!--&lt;!&ndash;        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>&ndash;&gt;-->
<!--      </div>-->
<!--      <div class="form-group" style="position:relative; left:80px; top:2px; width: 1250px;">-->
<!--        <label for="last">Last Name</label>-->
<!--        <input type="text" class="form-control" id="last" aria-describedby="emailHelp" placeholder="Enter email" size=10>-->
<!--&lt;!&ndash;        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>&ndash;&gt;-->
<!--      </div>-->

      <div class="row" style="position:relative; left:80px; top:2px; width: 1385px;">
        <div class="col">
          <label for="first">First Name</label>
          <input type="text" class="form-control" id="first" placeholder="First name">
        </div>
        <div class="col">
          <label for="last">Last Name</label>
          <input type="text" class="form-control" id="last" placeholder="Last name">
        </div>
      </div><br>
      <div class="row" style="position:relative; left:80px; top:2px; width: 1385px;">
        <div class="col">
          <label class="form-check-label" for="exampleRadios1">
            Gender
          </label><br>
            <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="customRadio" name="example" value="customEx">
    <label class="custom-control-label" for="customRadio">Male</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="customRadio2" name="example" value="customEx">
    <label class="custom-control-label" for="customRadio2">Female</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="customRadio3" name="example" value="customEx">
    <label class="custom-control-label" for="customRadio3">Other</label>
  </div>
        </div>
        <div class="col">
          <label for="country">Company</label>
          <select class="custom-select d-block w-100" id="country" required>
              <option value="">Choose...</option>
              <option>Parker</option>
              <option>GoSwole</option>
              <option>Contour</option>
              <option>Hamley's</option>
              <option>Other</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid country.
          </div>
        </div>
      </div>
      <br>
<!--      <section class="container">-->
<!--        <div style="position:relative; left:80px; top:2px; width: 1250px;">-->
<!--          <label for="date" class="form-check-label" >Date</label>-->
<!--          <br>-->
<!--          <div class="col-sm-4" style="position:relative; left:-15px; top:2px; width: 1250px;">-->
<!--            <div class="input-group date" id="datepicker">-->
<!--              <input type="text" class="form-control">-->
<!--              <span class="input-group-append">-->
<!--                <span class="input-group-text bg-white">-->
<!--                  <i class="fa fa-calendar"></i>-->
<!--                </span>-->
<!--              </span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->

<!--    <script type="text/javascript">-->
<!--        $(function() {-->
<!--            $('#datepicker').datepicker();-->
<!--        });-->
<!--    </script>-->



    <section class="container" style="position:relative; left:-350px; top:2px; width:690px;">
        <form>
            <div class="">
                <label for="date" class="">Date of Birth (MM/DD/YYYY)</label>
                <div class="cool">
                    <div class="input-group date" id="datepicker">
                        <input type="text" class="form-control">
                        <span class="input-group-append">
                            <span class="input-group-text bg-white d-block">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </section>
  <script type="text/javascript">
        $(function() {
            $('#datepicker').datepicker();
        });
    </script>

    </div>
      <br><button type="submit" class="btn btn-secondary" style="position:relative; left:80px; top:2px; width: 125px;">Submit</button>
    </form>
    <br><br>
    <div class="container">


  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top ">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Gozoop Inc.</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
  </footer>
</div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
    </ul>



  </body>
</html>